<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tilo</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>

<body>
    <header>
        <h1>Tilo App</h1>
        {% include "cards/navigation.html" %}
    </header>
    <main>
        {% block content %}
            <h2>Welcome to your Tilo app!</h2>
        {% endblock content %}
    </main>
    <footer>
        <p>&copy; 2023 💛 Tilo App. All rights reserved.</p>
    </footer>
</body>

</html>

